body {
  background: darkseagreen;
}
.wrapper {
  width: 1100px;
  margin: 10% auto;
}
a {
  text-decoration: none;
}
.img-area {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 345px;
  height: 300px;
  float: left;
  margin: 0 10px;
  transition: .4s;
  overflow: hidden;
}
.img-area::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  transform: translateY(100%);
  opacity: 0;
  text-align: center;
  padding-top: 35%;
  font-size: 25px;
  text-transform: uppercase;
  content: attr(data-text);
  transition: .5s;
  margin-top: 10px;
}
.img-area::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(90%);
  background-color: #fff;
  color: #262626;
  padding: 0 10px;
  content: attr(data-title);
  font-size: 22px;
  text-align: center;
}
.img-area:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition: .9s .5s;
}
.img-area:hover::before {
  transform: translateY(0);
  padding: 10px;
  background-color: rgba(69, 39, 145, .5);
  transition: .5s;
  color: #fff;
}